<h1>Hello <%= @user.name %>,</h1>
<p>
	Thank you for registering at Grimoire,<br>
	we hope to always keep you up to date with the mangas you care about.<br>
	If there are any questions please feel free to email our team.<br>
	<br>
	Just in case<br>
	This is your user name: <%= @user.name %><br>
	<br>
	Thank you again,<br>
	Grimoire Admin.
</p>
