<h1>Hello #{@user.name},</h1>
<p>
	Thank you for registering at Grimoire,
	we hope to always keep you up to date with the mangas you care about.
	If there are any questions please feel free to email our team.

	Just in case
	This is your user name: <%= @user.name %>

	Thank you again,
	Grimoire Admin.
</p>
