<!-- Wrapper -->
<div id="wrapper">
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>Hey <%= @user.name %></li>
				<li><a href="" id="MyManga"class="active">My Manga</a></li>
				<li><%= link_to 'Add Manga', search_manga_path %></li>
				<li><%= link_to 'Log Out',destroy_user_session_path, method: 'DELETE' %></li>
			</ul>
		</nav>

	<!-- Main -->
		<div id="main">
		<!-- First Section -->
			<section id="first" class="main special">
				<header>
					<h2>Here's what updated</h2>
				</header>
				<ul class="features">
					<% @mangas.each do | singleManga | %>
						<li><%= singleManga.title %></li>
					<% end %>
				</ul>
				<footer class="major">
					<ul class="actions">
						<li><a href="generic.html" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

		<!-- Second Section -->
			<section id="second" class="main special">
				<header class="major">
					<h2>My List</h2>
				</header>
				<ul class="statistics">
				</ul>
				<footer class="major">
					<ul class="actions">
						<li><a href="generic.html" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

	<!-- Footer -->
		<footer id="footer">
			<section>
				<h2>Aliquam sed mauris</h2>
				<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
				<ul class="actions">
					<li><a href="generic.html" class="button">Learn More</a></li>
				</ul>
			</section>
			<section>
				<h2>Etiam feugiat</h2>
				<dl class="alt">
					<dt>Address</dt>
					<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
					<dt>Phone</dt>
					<dd>(000) 000-0000 x 0000</dd>
					<dt>Email</dt>
					<dd><a href="#">information@untitled.tld</a></dd>
				</dl>
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
				</ul>
			</section>
			<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>

</div>