// Place all the styles related to the Mangas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#labelsList {
	list-style: none;
}

.mp-btn {
	border-style: solid; 
	border-radius: 8px;
	border-color: #424242;
}

ul.manga_info h5 {
	display: inline-block; 
}

ul.manga_info li {
	display: inline-block; 
}

.manga_cover {
	width: 200px;
	height: 310px;
}