// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_container {
	background-color: white;
	width: 30%;
	padding: 3%;
	padding-top: 1%;
}

.extra_btns {
	margin-top: 1%;
}

.log-in-page-btn {
	margin-top: 2%; 
}
